.home-container {
  /* padding: 20px; */
  /* max-width: 700px; */
  /* margin: auto; */
    height: 90vh;
  display: flex;
  flex-wrap: wrap;
  /* justify-content:; */
  align-items:flex-start;
  background: #f5f5f5;
}

.home-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.welcome {
  background: #fefafa;
}

.progress-bar {
  height: 10px;
  background: #eee;
  border-radius: 10px;
  margin: 10px 0;
}

.progress-fill {
  height: 100%;
  background: #ff4d4d;
  border-radius: 10px;
}

.quick-actions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.quick-actions button {
  flex: 1;
  min-width: 140px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #f7f7f7;
  cursor: pointer;
  font-weight: 600;
}

.quick-actions button:hover {
  background: #ffeaea;
}
