@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-black;
}

.btn {
  @apply w-full bg-black text-white p-3 rounded-lg font-medium;
}
